
.body::before {
    content: "";
    background-image:Figuras; fundo
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.place {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    position: relative;
}

.place img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.place h2 {
    margin: 0;
    color: #333;
}

.place p {
    font-size: 1em;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background-color: #333;
    position: relative;
    z-index: 1;
}

footer .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-links a:hover {
    text-decoration: underline;
}